//create a file ".env" and insert this variables


DATABASE_URL=""  

REDIS_URL=
ACCESS_SECRET=
REFRESH_SECRET=


EMAIL_USER=""
EMAIL_PASSWORD=""

NODE_ENV= '' # production / development

## R2 Eleva-dev 
CLOUDFLARE_ENDPOINT= ""
CLOUDFLARE_ACCESS_KEY_ID= ""
CLOUDFLARE_SECRET_ACCESS_KEY= ""
CLOUDFLARE_BUCKET_NAME= "" 


## Prisma Seed Admin 
ADMIN_EMAIL=""
ADMIN_PASSWORD=""